openapi: 3.0.3
info:
  title: GitHub Security Alerts API (Minimal)
  version: 2026-03-04
  description: Minimal OpenAPI spec for GitHub security alert triage workflows (code scanning, Dependabot, and secret scanning).
servers:
  - url: https://api.github.com
paths:
  /repos/{owner}/{repo}/code-scanning/alerts:
    get:
      operationId: listCodeScanningAlerts
      summary: List code scanning alerts for a repository
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - name: state
          in: query
          schema:
            type: string
            enum: [open, closed, dismissed, fixed]
        - name: ref
          in: query
          schema:
            type: string
        - name: severity
          in: query
          schema:
            type: string
            enum: [critical, high, medium, low, warning, note, error]
        - name: tool_name
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
      responses:
        '200':
          description: Alerts list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CodeScanningAlert'

  /repos/{owner}/{repo}/code-scanning/alerts/{alert_number}:
    get:
      operationId: getCodeScanningAlert
      summary: Get a single code scanning alert
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/alert_number'
      responses:
        '200':
          description: Alert detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeScanningAlert'
    patch:
      operationId: updateCodeScanningAlert
      summary: Update code scanning alert state
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/alert_number'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: string
                  enum: [open, dismissed]
                dismissed_reason:
                  type: string
                  enum: [false positive, won't fix, used in tests]
                dismissed_comment:
                  type: string
              required: [state]
      responses:
        '200':
          description: Updated alert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeScanningAlert'

  /repos/{owner}/{repo}/code-scanning/alerts/{alert_number}/instances:
    get:
      operationId: listCodeScanningAlertInstances
      summary: List alert instances
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/alert_number'
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
      responses:
        '200':
          description: Alert instances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CodeScanningAlertInstance'

  /repos/{owner}/{repo}/dependabot/alerts:
    get:
      operationId: listDependabotAlerts
      summary: List Dependabot alerts for a repository
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - name: state
          in: query
          schema:
            type: string
            enum: [open, dismissed, fixed, auto_dismissed]
            default: open
        - name: severity
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
        - name: ecosystem
          in: query
          schema:
            type: string
        - name: package
          in: query
          schema:
            type: string
        - name: manifest
          in: query
          schema:
            type: string
        - name: scope
          in: query
          schema:
            type: string
            enum: [runtime, development]
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
      responses:
        '200':
          description: Dependabot alerts list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DependabotAlert'

  /repos/{owner}/{repo}/dependabot/alerts/{alert_number}:
    get:
      operationId: getDependabotAlert
      summary: Get a single Dependabot alert
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/alert_number'
      responses:
        '200':
          description: Dependabot alert detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DependabotAlert'
    patch:
      operationId: updateDependabotAlert
      summary: Update Dependabot alert state
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/alert_number'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: string
                  enum: [open, dismissed]
                dismissed_reason:
                  type: string
                  enum: [fix_started, inaccurate, no_bandwidth, not_used, tolerable_risk]
                dismissed_comment:
                  type: string
              required: [state]
      responses:
        '200':
          description: Updated Dependabot alert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DependabotAlert'

  /repos/{owner}/{repo}/secret-scanning/alerts:
    get:
      operationId: listSecretScanningAlerts
      summary: List secret scanning alerts for a repository
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - name: state
          in: query
          schema:
            type: string
            enum: [open, resolved]
            default: open
        - name: secret_type
          in: query
          schema:
            type: string
        - name: resolution
          in: query
          schema:
            type: string
            enum: [false_positive, wont_fix, revoked, used_in_tests, pattern_edited, pattern_deleted]
        - name: sort
          in: query
          schema:
            type: string
            enum: [created, updated]
        - name: direction
          in: query
          schema:
            type: string
            enum: [asc, desc]
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
      responses:
        '200':
          description: Secret scanning alerts list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SecretScanningAlert'

  /repos/{owner}/{repo}/secret-scanning/alerts/{alert_number}:
    get:
      operationId: getSecretScanningAlert
      summary: Get a single secret scanning alert
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/alert_number'
      responses:
        '200':
          description: Secret scanning alert detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretScanningAlert'
    patch:
      operationId: updateSecretScanningAlert
      summary: Update secret scanning alert state
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/alert_number'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: string
                  enum: [open, resolved]
                resolution:
                  type: string
                  enum: [false_positive, wont_fix, revoked, used_in_tests, pattern_edited, pattern_deleted]
                resolution_comment:
                  type: string
              required: [state, resolution]
      responses:
        '200':
          description: Updated secret scanning alert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecretScanningAlert'

  /repos/{owner}/{repo}/secret-scanning/alerts/{alert_number}/locations:
    get:
      operationId: listSecretScanningAlertLocations
      summary: List locations for a secret scanning alert
      parameters:
        - $ref: '#/components/parameters/owner'
        - $ref: '#/components/parameters/repo'
        - $ref: '#/components/parameters/alert_number'
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
      responses:
        '200':
          description: Secret scanning alert locations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SecretScanningAlertLocation'

components:
  parameters:
    owner:
      name: owner
      in: path
      required: true
      schema:
        type: string
    repo:
      name: repo
      in: path
      required: true
      schema:
        type: string
    alert_number:
      name: alert_number
      in: path
      required: true
      schema:
        type: integer

  schemas:
    CodeScanningAlert:
      type: object
      properties:
        number:
          type: integer
        state:
          type: string
        rule:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            severity:
              type: string
        tool:
          type: object
          properties:
            name:
              type: string
            version:
              type: string
        html_url:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        dismissed_reason:
          type: string
        dismissed_comment:
          type: string
        most_recent_instance:
          $ref: '#/components/schemas/CodeScanningAlertInstance'

    CodeScanningAlertInstance:
      type: object
      properties:
        ref:
          type: string
        analysis_key:
          type: string
        environment:
          type: string
        category:
          type: string
        state:
          type: string
        commit_sha:
          type: string
        message:
          type: object
          properties:
            text:
              type: string
        location:
          type: object
          properties:
            path:
              type: string
            start_line:
              type: integer
            end_line:
              type: integer

    DependabotAlert:
      type: object
      properties:
        number:
          type: integer
        state:
          type: string
        dependency:
          type: object
          properties:
            package:
              type: object
              properties:
                ecosystem:
                  type: string
                name:
                  type: string
            manifest_path:
              type: string
            scope:
              type: string
        security_advisory:
          type: object
          properties:
            ghsa_id:
              type: string
            summary:
              type: string
            severity:
              type: string
            cvss:
              type: object
              properties:
                vector_string:
                  type: string
                score:
                  type: number
        security_vulnerability:
          type: object
          properties:
            package:
              type: object
              properties:
                ecosystem:
                  type: string
                name:
                  type: string
            severity:
              type: string
            vulnerable_version_range:
              type: string
            first_patched_version:
              type: object
              properties:
                identifier:
                  type: string
        html_url:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        dismissed_reason:
          type: string
        dismissed_comment:
          type: string

    SecretScanningAlert:
      type: object
      properties:
        number:
          type: integer
        state:
          type: string
        secret_type:
          type: string
        resolution:
          type: string
        resolution_comment:
          type: string
        html_url:
          type: string
        locations_url:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        push_protection_bypassed:
          type: boolean

    SecretScanningAlertLocation:
      type: object
      properties:
        details:
          type: object
          properties:
            path:
              type: string
            start_line:
              type: integer
            end_line:
              type: integer
            start_column:
              type: integer
            end_column:
              type: integer
        type:
          type: string
        commit_sha:
          type: string
        blob_sha:
          type: string
